# Binaries
terraform-provider-yeet
*.exe

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Go
*.so
*.dylib
*.test
*.out
go.work

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
